<div class="container">
  <h3>
    <a href="" class="btn btn-primary" data-ng-click="prevMonth();">&lt;</a>
    <span data-ng-bind="schedule.month"></span>, <b data-ng-bind="schedule.year"></b>
    <a href="" class="btn btn-primary" data-ng-click="nextMonth();">&gt;</a>
  </h3>
  <ul class="list-group">
    <li class="list-group-item" data-ng-repeat="date in schedule.dates">
      <b data-ng-bind="date.date"></b>
      <div class="well" data-ng-repeat="talk in date.data">
        <h5><a href="" data-ng-href="details/{{talk._id}}" data-ng-bind="talk.title"></a></h5>
        <dl>
          <dt>Location: </dt>
          <dd data-ng-bind="talk.location"></dd>
          <dt>Author: </dt>
          <dd data-ng-repeat="user in talk.lector"><a href="" data-ng-bind="global.users[user].full_name"></a></dd>
        </dl>
      </div>
    </li>
  </ul>
</div>
