<div class="container">
  <h3>
    <a href="" class="btn btn-primary"  data-ng-href="calendar/{{prevMonthUrl}}/{{prevYearUrl}}">&lt;</a>
    <span data-ng-bind="schedule.month"></span>, <b data-ng-bind="schedule.year"></b>
    <a href="" class="btn btn-primary" data-ng-href="calendar/{{nextMonthUrl}}/{{nextYearUrl}}">&gt;</a>
  </h3>
  <ul class="list-group">
    <li class="list-group-item" data-ng-repeat="date in schedule.dates">
      <b data-ng-bind="date.date"></b>
      <div class="well" data-ng-repeat="talk in date.data">
        <h5><a href="" data-ng-href="details/{{talk._id}}" data-ng-bind="talk.description.title"></a></h5>
        <dl>
          <dt>Location: </dt>
          <dd data-ng-bind="talk.description.location"></dd>
          <dt>Author: </dt>
          <dd data-ng-repeat="user in talk.description.lector"><a href="user/{{user}}" data-ng-bind="global.data.users[user].full_name"></a></dd>
        </dl>
      </div>
    </li>
  </ul>

  <section class="news-section" data-ng-controller="NewsCtrl">
    <h3>Latest Department News</h3>
    <ul class="news">
      <li class="news-item" data-ng-repeat="new in news">
        <h4 class="news-item-title">
          <a data-ng-href="post/{{new.slug}}">{{new.title}}</a>
          <a data-ng-href="post/{{new.slug}}/edit">Edit</a>
        </h4>
        <p class="news-item-author">by {{new.author.firstName + ' ' + new.author.lastName}} on {{new.date|date:'d-MMM-yyyy'}}</p>
        <div class="news-item-content" data-ng-bind-html="new.content"></div>
      </li>
    </ul>
    <div>
      <button class="news-more" data-ng-click="viewMore();" data-ng-disabled="noMoreNews">View More</button>
    </div>
  </section>
</div>
