
<a href="/edit/{{_id}}" class="btn btn-success pull-right">Edit</a>
<p><a href="/">&lt; Back to Calendar</a></p>
<hgroup>
  <h2 data-ng-bind="details.title"></h2>
  <h3><span data-ng-repeat="user in details.lector"><a href="user/{{user}}" data-ng-bind="global.data.users[user].full_name"></a><i ng-if="!$last">, </i></span></h3>
  <h4><span data-ng-repeat="tag in details.tags"><a href="tag/{{tag}}" data-ng-bind="tag"></a><i ng-if="!$last">, </i></span></h4>
</hgroup>
<div data-ng-bind-html="details.description"></div>
<div class="well">

  <span data-ng-repeat="user in details.attendees"><a href="user/{{user}}">{{global.data.users[user].full_name}} </a><i ng-if="!$last">, </i></span>
</div>