<div class='editView container'>
  <a href="" class="btn btn-default" data-ng-click="goBack();">Back</a>
  <hr />
  <form name="editTalkForm" novalidate data-ng-submit="saveAndClose();">
    <header class="titleBlock row">
      <div class="col-md-2">
        <img src="http://placehold.it/100x133" data-ng-repeat="user in details.lector | userData" data-ng-src="img/user/{{user.photo}}.gif" />
      </div>
      <div class="col-md-10">
        <div>
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" class="form-control input-lg" placeholder="Enter Title"
            data-ng-model="details.title"/>
        </div>
        <div>
          <label for="title">Level:</label>
          <input type="text" id="level" name="level" class="form-control input-lg" placeholder="Enter attendees level"
                 data-ng-model="details.level"/>
        </div>
        <div>
          <label for="lectors">Lectors: </label>
          <div data-tp-user-search="lectors" data-selected="details.lector" data-available="global.users"></div>
        </div>
      </div>
    </header>
    <section>
      <div class="row">
        <label for="Date">Date:</label>
        <input type="text" id="Date" name="Date" class="form-control input-lg" placeholder="Enter date and time"
               data-ng-model="details.date"/>
      </div>
      <div class="row">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" class="form-control input-lg" placeholder="Enter Title"
               data-ng-model="details.location"/>
      </div>
      <div>
        <label for="talkContent">Details: </label>
        <div class="well">
          <h2 contenteditable="true" class="header" data-ng-bind="details.title" style="display: none">Talk title</h2>
          <article id="talkContent" class="content" contenteditable="true" data-ng-model="details.description" data-ng-bind-html="details.description"></article>
        </div>
      </div>
      <div class="row">
        <label for="attendees">Attendees list: </label>
        <div data-tp-user-search="attendees" data-selected="details.attendees" data-available="global.users"></div>
      </div>
      <hr />
      <div class="buttonBar">
        <button type="submit" class="btn btn-success">Save and close</button>
        <button type="button" class="btn btn-info" data-ng-click="save();">Save</button>
        <button type="button" class="btn btn-primary" data-ng-click="goBack();">Back</button>
        <button type="button" class="btn btn-warning pull-right" data-ng-click="delete();">Delete</button>
      </div>
    </section>
  </form>
</div>