<div class='container'>
  <form name="editTalkForm" novalidate>
    <div class="row">
      <div class="col-md-2">
          <img src="http://placehold.it/100x133">
      </div>
      <div class="col-md-10">
        <div>
          <label for="title">Title:</label>
          <input type="text" value="{{details.title}}" class="form-control input-lg" id="title" placeholder="Enter Title">
        </div>
        <div>
          <h4>Lectors: </h4>
          <div data-tp-attendees-search="global.users" data-selected="details.lector"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 contenteditable="true" class="header" data-ng-bind="details.title">Talk title</h2>
      <article data-ng-bind-html="details.description" contenteditable="true" class="content">
      </article>
    </div>
    <div class="row">
      <h4>attendees list: </h4>
      <div data-tp-attendees-search="global.users" data-selected="attendees"></div>
    </div>
    <div class="buttonBar">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="" class="btn btn-default" data-ng-href="/details/{{_id}}">Cancel</a>
    </div>
  </form>
</div>