<!doctype html>
<html lang="en" data-ng-app="tp" data-ng-controller="AppCtrl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title data-ng-bind="global.pageTitle">TechTalk portal</title>
  <link rel="stylesheet" href="/css/vendor.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/pace.js"></script>
  <!-- we probably need more control here -->
  <base href="/portal"></base>
</head>
<body>
  <!-- Wrap all page content here -->
  <div class="pageWrap">
	  <div class="shadow">
		  <header>
			  <div class="container">
				  <div class="col-xs-6 col-sm-6 col-lg-6">
					  <a class="logo" href="#">&lt;epam&gt;TechTalks</a>
                      <a href="/portal/new" class="btn btn-primary" data-ng-if="global.isAuthN">Add Talk</a>
				  </div>
				  <div class="col-xs-6 col-sm-6 col-lg-6">
					  <form class="form-inline pull-right" role="form"
                          data-ng-if="!global.isAuthN && !authInProgress"
                          data-ng-submit="signin();">
						  <div class="form-group">
							  <label class="sr-only" for="exampleInputEmail2">Email address</label>
							  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"
                                required
                                data-ng-model="auth.login">
						  </div>
						  <div class="form-group">
							  <label class="sr-only" for="exampleInputPassword2">Password</label>
							  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
                                required
                                data-ng-model="auth.password"/>
						  </div>
						  <button type="submit" class="btn btn-default"
                            data-ng-disabled="loginForm.$invalid">Sign in</button>
					  </form>
                      <span class="text-info pull-right signInLoader" data-ng-if="authInProgress">Please wait...</span>
                      <div class="userMenu pull-right" data-ng-if="global.isAuthN">
                          <a href=""><img class="userAvatar" data-ng-src="{{global.currentUser.photo}}"/><span data-ng-bind="global.currentUser.name"></span></a>
                          <a href="" class="btn btn-danger" data-ng-click="logout();">Log out</a>
                      </div>
				  </div>
			  </div>
		  </header>

    <!-- Begin page content -->
    <section class="container">
      <!--<header class="page-header">
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/portal">UI techtalks</a>
              <a href="/portal/new" class="btn btn-primary" data-ng-if="global.isAuthN">Add Talk</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                &lt;!&ndash;<li class="active"><a href="#">Home</a></li>&ndash;&gt;
              </ul>
              <form class="navbar-form navbar-right"
                novalidate
                name="loginForm"
                data-ng-cloak
                data-ng-if="!global.isAuthN && !authInProgress"
                data-ng-submit="signin();">
                <div class="form-group">
                  <input type="text" id="login" name="login" placeholder="Email" class="form-control"
                    required
                    data-ng-model="auth.login"/>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                    required
                    data-ng-model="auth.password"/>
                </div>
                <button type="submit" id="loginButton" class="btn btn-success"
                  data-ng-disabled="loginForm.$invalid">Sign in</button>
              </form>
              <span class="text-info pull-right signInLoader" data-ng-if="authInProgress">Please wait...</span>
              <div class="userMenu pull-right" data-ng-if="global.isAuthN">
                <a href=""><img class="userAvatar" data-ng-src="{{global.currentUser.photo}}"/><span data-ng-bind="global.currentUser.name"></span></a>
                <a href="" class="btn btn-danger" data-ng-click="logout();">Log out</a>
              </div>
            </div>
          </div>
          <div class="errorConsole">
            <ul>
              <li data-ng-repeat="error in global.errorStack"><p>{{error.errorCode}} {{error.message}} <a href="" class="btn btn-warning" data-ng-click="global.errorStack.splice($index, 1);">Close</a></p></li>
            </ul>
          </div>
        </div>
        <h1>{{global.pageTitle}}</h1>
      </header>-->
      <!-- Main view comes here -->
      <div data-ng-view></div>
    </section>

  </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; <a href="/portal">Techtalk portal</a></p>
    </div>
  </footer>

  <div class="text-options">
      <div class="options">
        <span class="no-overflow">
          <span class="lengthen ui-inputs">
            <button class="url useicons">&#xe005;</button>
            <input class="url-input" type="text" placeholder="Type or Paste URL here"/>
            <button class="bold">b</button>
            <button class="italic">i</button>
            <button class="quote">&rdquo;</button>
          </span>
        </span>
      </div>
    </div>


  <!-- build:js(public) /js/app.min.js -->
  <script src="/js/core.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/services/helper.js"></script>
  <script src="/js/services/data-provider.js"></script>
  <script src="/js/services/auth-service.js"></script>
  <script src="/js/directives/user-search.js"></script>
  <script src="/js/controllers/details-controller.js"></script>
  <script src="/js/controllers/calendar-controller.js"></script>
  <script src="/js/controllers/edit-controller.js"></script>
  <script src="/js/controllers/post-controller.js"></script>
  <script src="/js/controllers/create-controller.js"></script>
  <script src="/js/utils.js"></script>
  <!-- endbuild -->
</body>
</html>
