<!doctype html>
<html lang="en" data-ng-app="tp" data-ng-controller="AppCtrl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/vendor.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title data-ng-bind="global.pageTitle">TechTalk portal</title>
  <!-- we probably need more control here -->
  <base href="/"></base>
</head>
<body>
  <!-- Wrap all page content here -->
  <div class="pageWrap">
    <!-- Begin page content -->
    <section class="container">
      <header class="page-header">
        <h1>{{global.pageTitle}}</h1>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">UI techtalks</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
              </ul>

              <form class="navbar-form navbar-right" 
                novalidate
                name="loginForm"
                data-ng-cloak
                data-ng-if="!global.isAuthN && !authInProgress"
                data-ng-submit="signin();">
                <div class="form-group">
                  <input type="text" placeholder="Email" class="form-control" 
                    required
                    data-ng-model="auth.login"/>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control" 
                    required
                    data-ng-model="auth.password"/>
                </div>
                <button type="submit" class="btn btn-success"
                  data-ng-disabled="loginForm.$invalid">Sign in</button>
              </form>
              <span class="text-info pull-right signInLoader" data-ng-if="authInProgress">Please wait...</span>
              <div class="userMenu pull-right" data-ng-if="global.isAuthN">
                Hi, <a href="" data-ng-bind="global.user.firstName"></a>
                <a href="" class="btn btn-danger" data-ng-click="logout();">Log out</a>
              </div>
            </div><!--/.navbar-collapse -->
          </div>
        </div>
      </header>
      <!-- Main view comes here -->
      <div data-ng-view></div>
    </section>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; <a href="/">Techtalk portal</a></p>
    </div>
  </footer>

  <div class="text-options">
      <div class="options">
        <span class="no-overflow">
          <span class="lengthen ui-inputs">
            <button class="url useicons">&#xe005;</button>
            <input class="url-input" type="text" placeholder="Type or Paste URL here"/>
            <button class="bold">b</button>
            <button class="italic">i</button>
            <button class="quote">&rdquo;</button>
          </span>
        </span>
      </div>
    </div>



  <!-- build:js(public) /js/app.min.js -->
  <script src="/js/core.js"></script>
  <!--<script src="/js/vendor/zenpen/libs/Blob.js"></script>
  <script src="/js/vendor/zenpen/libs/FileSaver.min.js"></script>
  <script src="/js/vendor/zenpen/libs/fullScreen.js"></script>
  <script src="/js/vendor/zenpen/utils.js"></script>
  <script src="/js/vendor/zenpen/ui.js"></script>
  <script src="/js/vendor/zenpen/editor.js"></script>-->
  <script src="/js/app.js"></script>
  <script src="/js/services/helper.js"></script>
  <script src="/js/services/data-provider.js"></script>
  <script src="/js/services/auth-service.js"></script>
  <script src="/js/controllers/details-controller.js"></script>
  <script src="/js/controllers/calendar-controller.js"></script>
  <script src="/js/controllers/edit-controller.js"></script>
  <script src="/js/controllers/post-controller.js"></script>
  <!-- endbuild -->
</body>
</html>
