<section class="container post">
  <div class="row">
    <div class="col-md-2 control-label"><label>Post Title:</label></div>
    <div class="col-md-10"><input class="title" type="text" data-ng-model="post.title"></div>
  </div>
  <div class="row">
    <div class="col-md-2 control-label"><label>Author:</label></div>
    <div class="col-md-10">
      <div class="col-md-2">
        <img src="http://placehold.it/100x133" data-ng-src="{{post.author|userParam:'photo'}}" />
      </div>
      <h3>{{post.author|userParam:'name'}}</h3>
    </div>
    <!--
    <div class="col-md-10" data-tp-user-search="author" data-selected="creator" data-available="global.users"></div>
    -->
  </div>
  <div class="row">
    <div class="col-md-2 control-label"><label>Date:</label></div>
    <div class="col-md-10 post-author-date">{{post.date|date:'medium'}}</div>
  </div>
  <div class="row">
    <div class="col-md-2 control-label"><label>Post Body:</label></div>
    <div class="col-md-10">
      <h2 contenteditable="true" class="header" data-ng-bind="details.title" style="display: none">Talk title</h2>
      <div contenteditable="true" class="content" data-ng-model="post.content" data-ng-bind-html="post.content"></div>
    </div>
  </div>
  <div class="actions col-md-offset-2" data-ng-if="global.isAuthN">
    <button class="btn btn-success" data-ng-click="save()">Save</button>
    <button class="btn" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-danger pull-right" data-ng-click="delete()">Delete</button>
  </div>
</section>
