input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.userMenu {
  padding-top: @padding-base-vertical;
  color: @white;

  .userAvatar {
    height: 60px;
    margin-right: @padding-base-horizontal;
  }

  .btn {
    margin-left: @padding-base-horizontal;
  }
}

.signInLoader {
  padding-top: @padding-base-vertical;
}

.errorConsole {
  color: @white;
  ul {
    list-style: none;
  }
}